*{
  box-sizing: border-box;
}

div{
  background-color: red;
}
body{
  margin:0;
}
.container{
  width:100vw;
  height:100vw;
  justify-content: center;
  align-content: center;
  display:grid;
}

.cell{
  width: 10px;
  height: 10px;
  background-color: blue;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
