div{
  background-color: red;
}
.container{
  width:100vw;
  height:100vw;
  justify-content: center;
  align-content: center;
  display:grid;
  grid-template-columns: auto auto auto;
}

.row{
  background-color: blue;
  border: 1px solid black;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
