*{
  box-sizing: border-box;
}

div{
  background-color: rgb(255, 255, 255);
}
body{
  margin:0;
}
.container{
  width:100vw;
  height:100vh;
  justify-content: center;
  align-content: center;
  display:grid;
}

.cell{
  width: 10px;
  height: 10px;
  background-color: rgba(248,184,200,255);
  border: 2px solid rgba(242,132,169,255);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
